.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: var(--font-fira-sans);
}

.title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 50px;
  width: 100%;
  font-family: var(--font-fira-sans);
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 18px;
  gap: 8px;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-fira-sans);
}

.landing-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: left;
  list-style-type: none;
  gap: 16px;
}

.description a {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  text-decoration: underline;
}

.description a:hover {
  color: #F7DD72;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}